body{
	background-color:#f5f5f5;
}
.container{
	width:210px;
	height:210px;
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-105px;
	margin-left:-105px;
}
#topleft{
	width:100px;
	height:100px;
	background-color:black;
	border-bottom:5px solid brown;
	border-right:5px solid brown;
	float:left;
}
#topright{
	width:100px;
	height:100px;
	background-color:white;
	border-bottom:5px solid brown;
	border-left:5px solid brown;
	float:right;
}
#bottomright{
	width:100px;
	height:100px;
	background-color:black;
	border-top:5px solid brown;
	border-left:5px solid brown;
	float:right;
}
#bottomleft{
	width:100px;
	height:100px;
	background-color:white;
	border-top:5px solid brown;
	border-right:5px solid brown;
	float:left;
}